body{
    background-color: #f8f0de;
    overflow-x: hidden;
}
.anton-regular{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #b22312;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style:0;
}
.logo{
  height: 8em;
}
.colors{
    color:#b22312, #ff5858, #ff914d, #f8f0de, #242424, #121b1a #fffcf4
}
.Booking{
background-color: #b22312;
color: #f8f0de;
font-size: 1.2em;
border: 5px solid #b22312;
margin-left: 10px;
}
.nav-item{
    margin: 10px;
    font-size: 1.2em;
}

.card2{
  padding-top: 3em;
}
@media (min-width: 480px) {
  .card2{
    padding-top: 1em;
  }
}
@media (min-width: 992px) {
  .card2{
    padding-top: 9em;
  }
}

.BarInfo{
 font-weight: 400;
}
.Motto{
  color:#b22312;
  font-weight: 700;
}
.second{
  background-color: #242424;
  border: 5px solid #242424 ;
  font-size: 1.75rem;
}
.Welcome{
  font-size: 5rem;
  margin: 1em;
}

@media (min-width: 480px) {
  .Welcome{
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .Welcome{
    font-size: 3rem;
  }
}
.accordionheader{
  color:#b22312;
  font-size: 1.25rem;
  font-weight: 800;
}
.href{
  color:#b22312;
}
h5{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.ul{
  color: #b22312;
}
.where{
  background-color: #fffcf4;
}
.footer{
color: #c47970;
text-align: end;
}
@media (min-width: 480px) {
  .footer{
    font-size: 0.75em;
  }
}

@media (min-width: 992px) {
  .footer{
    font-size: 1rem;
  }
}
.register{
  height:0.75rem;
}
.QA{
  font-size: 2.5rem;
}
